@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marfa";
  src: url("/Marfa-Regular.woff");
}

@font-face {
  font-family: "Marfa";
  src: url("/Marfa-Thin.woff");
  font-weight: 100;
}

@font-face {
  font-family: "Marfa";
  src: url("/Marfa-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Marfa";
  src: url("/Marfa-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Marfa";
  src: url("/Marfa-Semibold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Marfa";
  src: url("/Marfa-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Marfa";
  src: url("/Marfa-Black.woff");
  font-weight: 900;
}

html {
  font-family: "Marfa", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #212123;
}

.arrow {
  --arrow-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' color='%23000'%3E%3Cpath d='m13 8 4 4-4 4m2.5-4h-9' stroke='currentColor' stroke-width='1.5' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  @apply after:-mt-96 after:inline-block after:translate-y-[.425rem] after:leading-[0] after:opacity-[.32] after:content-[--arrow-icon];
}

.logo {
  --logo: url("data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg' color='%23000'%3E%3Cpath d='m.38 11.986 6.412-8.704a.8.8 0 0 1 .556-.32l8.564-.952a.8.8 0 0 1 .176 0l8.564.951a.8.8 0 0 1 .556.32l6.413 8.705a.8.8 0 0 1-.04.997L16.455 30.475a.6.6 0 0 1-.908 0L.418 12.983a.8.8 0 0 1-.039-.997zm17.826-7.403 6.047 5.712a.4.4 0 0 0 .674-.32l-.29-4.054a.2.2 0 0 1 .392-.07l1.326 4.642a1 1 0 0 0 .645.674l2.83.943a.2.2 0 0 1-.062.39h-2.72a1 1 0 0 0-.843.463l-7.414 11.65a.3.3 0 0 1-.523-.291l5.314-10.96a.6.6 0 0 0-.54-.862H8.958a.6.6 0 0 0-.54.862l5.314 10.96a.3.3 0 0 1-.523.292l-7.414-11.65a1 1 0 0 0-.844-.464H2.148a.2.2 0 0 1-.062-.39l2.908-.945a1 1 0 0 0 .652-.677l1.325-4.637a.2.2 0 0 1 .392.07l-.29 4.054a.4.4 0 0 0 .674.32l6.047-5.712a.2.2 0 0 1 .293.272L10.03 9.848a.4.4 0 0 0 .31.652h11.32a.4.4 0 0 0 .31-.652l-4.057-4.993a.2.2 0 0 1 .293-.272z' fill='currentcolor' fill-rule='evenodd'/%3E%3C/svg%3E");
  @apply bg-[image:--logo];
}

img {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

::selection {
  @apply bg-[#ffb387];
}
